/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

:root {
  --primary-color: #005f61;
  --primary-lighter-color: #d1fdfe;
  --accent-color: #a8005d;
  --accent-lighter-color: #fcd6e6;
  --white-color: #fdfdfd;
  --black-color: #353434;

  --line-height-heading: 1.2;
  --line-height-text: 1.4;

  --letter-spacing: 2px;
  --text-uppercase: uppercase;
  --border-radius: 5px;
  --border-none: none;

  --font-weight-heading: 700;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;

  --font-size-heading-xs: 20px;
  --font-size-heading-s: 24px;
  --font-size-heading-m: 32px;
  --font-size-heading-l: 40px;

  --button-size: 10px 25px;
}

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

  /* Kleuren */

  /* Typografie */

  /* Formulier elementen */

  .primary-color {
    background: var(--primary-color);
  }

  .primary-lighter-color {
    background: var(--primary-lighter-color);
  }

  .accent-color {
    background: var(--accent-color);
  }

  .accent-lighter-color {
    background: var(--accent-lighter-color);
  }

  .white-color {
    background: var(--white-color);
    border: 1px solid black;
  }

  .black-color {
    background: var(--black-color);
  }

  .font-size-heading-l {
    font-size: var(--font-size-heading-l);
  }

  .font-size-heading-m {
    font-size: var(--font-size-heading-m);
  }

  .font-size-heading-s {
    font-size: var(--font-size-heading-s);
  }

  .font-size-heading-xs {
    font-size: var(--font-size-heading-xs);
  }

  .font-size-l {
    font-size: var(--font-size-l);
  }

  .font-size-m {
    font-size: var(--font-size-m);
  }

  .font-size-s {
    font-size: var(--font-size-s);
  }
}

input {
  accent-color: var(--accent-color);
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

button {
  padding: var(--button-size);
  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-uppercase);
  background-color: var(--accent-color);
  border: var(--border-none);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  color: var(--accent-lighter-color);

  span {
    transform: translateY(2px);
  }
}
